body {
    background-color: white;
    margin: 0%;
}

body {
    margin: 0%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
    background-color: #000000;
}

#LOGO {
    text-decoration: none;
}

header .logo {
    position: relative;
    transition: 1.5s;
    color: white;
    font-size: 30px;
    font-family: Allura;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 40px;
}

header .logo2 {
    position: relative;
    transition: 1.5s;
    color: white;
    font-size: 20px;
    padding-left: 76px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 80%;
}



@font-face {
    font-family: Allura;
    src: url(../Fuentes/Allura-Regular.ttf);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

.lista:hover {
    background-color: #262626;

}

header ul li a {
    position: relative;
    font-family: helvetica;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    padding: 15px 15px;
}

.div0 {
    margin-top: 100px;
    text-decoration: none;
    color: brown;
    padding: 10px;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    flex-direction: row;
}
#listaArticulos {
    list-style: none;

}
.p1 {
    margin: 0px;
}

.p3 {
    margin: 0px;
}

aside {
    float: right;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 100px;
}

.div0 {
    margin-left: 185px;
    height: fit-content;
    width: 30%;
    margin-left: 265px;
}

.div1 {
    align-content: center;
}

h2 {
    margin-bottom: 0;
}

hr {
    border-top: 3px solid black;
}

.plomo {
    font-size: small;
}

section {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}

input {
    width: 430px;
    height: 35px;
    border-radius: 15px;
    border: 3px solid black;
    font-size: 20px;
   
}

.filtro {
    display: none;
}


footer {
    background-image: url(../Imgs/footer.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 800px;
    /*border: 5px solid black;*/
    height: 700px;
    position: relative;
    display: flex;
    z-index: -1;
}

.maps {
    /*border: 5px solid;*/
    width: 479px;
    margin: auto;
    margin-top: 400px;
    text-align: -webkit-center;
}

.red {
    margin-right: 3px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: aliceblue;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif
}

.redes {
    margin-right: 3px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: aliceblue;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

.social {
    width: 479px;
    margin: auto;
    margin-top: 400px;
    text-align: -webkit-center;
}

.icon {
    width: 45px;
    transition: transform .2s;
}

.icon:hover {
    transform: scale(1.2);
}

.contactanos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-right: 25px;
    font-family: helvetica;
}

.cont {
    display: flex;
}

.cont2 {
    display: flex;
    flex-direction: column;
    font-style: italic;
}

a {
    text-decoration: none;
    color: white;
}

.aside {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**/
.contenedor {
    position: relative;
    height: 425px;
    width: 360px;
    margin: 50px 20px;
 
}
.contenedor img {
    position: absolute;
    left: 0;
    transition: opacity 0.9s ease-in-out;
    height: 360px;
    width: 325px;
    margin: 59px 70px;
    border: 5px solid black;   
} 
.contenedor img.top:hover {
    opacity: 0;
}

.Derechos {
    display: flex;
    align-items: flex-end;
    color: white;
    margin-left: auto;
}
